@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: grey;
    font-family: 'Lato', sans-serif;
    font-weight: 450;
}

/* headings and logo*/

h1, h2 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

#logo {
    float: left;
    font-size: 400%;
}

/*navigation links*/

#menu {
    font-size: 200%;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    letter-spacing: 4px;   
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* hero image and cover text*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center ;
    background-size: cover;    
     
}

#cover-text {
    font-size: 130%;
    font-family: 'lato', sans-serif;
    letter-spacing: 4px;

    width: 1400px;
    height: 500px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: white;
    opacity: .4;

    bottom: 30px;
    left: 30px;
    position: absolute;
}

#cover-text h3 {
    margin-top: 150px;

}

/* three spectrums*/

#fundamentals {
    height: 600px;
    width: 100%;
    position: relative;
}

#physical-intro {
    padding-top: 30px;
    height: 33%;
    position: relative;
    color: red;
}

#mental-intro {
    padding-top: 30px;
    height: 33%;
    position: relative;
    color: green;
}

#emotional-intro {
    padding-top: 30px;
    height: 33%;
    position: relative;
    color: blue;
}