@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrapper {
    padding-bottom: 150px;
}

body {
    color: grey;
    font-family: 'Lato', sans-serif;
    font-weight: 450;
}

/* headings and logo*/

h1, h2 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

#logo {
    float: left;
    font-size: 400%;
}

/* navigation links*/

#menu {
    font-size: 200%;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    letter-spacing: 4px;   
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* hero image and cover text*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center ;
    background-size: cover;  
    background-color: grey;  
     
}

#cover-text {
    font-size: 130%;
    font-family: 'lato', sans-serif;
    letter-spacing: 4px;

    width: 1400px;
    height: 500px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: white;
    opacity: .4;

    bottom: 30px;
    left: 30px;
    position: absolute;
}

#cover-text h3 {
    margin-top: 150px;

}

/* three spectrums*/

#fundamentals {
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

hr {
    border: solid 1px black;
}

#physical-intro {
    padding-top: 30px;
    height: 33%;
    width: 66%; 
    padding-left: 10px;
    bottom: 30px;
    left: 30px;
    position: relative;
  
}

#mental-intro {
    padding-bottom: 30px;
    height: 33%;
    width: 66%;
    padding-right: 10px;
    bottom: 30px;
    right: 30px;
    float: right;
    position: relative;
  
}

#mental-heading {
    position: relative;
    left: 880px;
    
}

    

#emotional-intro {
    padding-top: 30px;
    height: 33%;
    width: 66%;
    padding-left: 10px;
    bottom: 30px;
    left: 30px;
    position: absolute;
    
}

/* footer and icons*/

#footer {
    width: 100%;
    background-color: grey;
    position: absolute;
    height: 100px;

    
}

footer > p {
    color: black;
    font-weight: 600;
    font-size: 160%;
    position: relative;
    float: right;
    margin-right: 10px;
    bottom: 10px;
}

.social-networks {
    text-align: center;
    height: 70px;
    
}

.social-networks > li {
    display: inline;
    padding: 1%;
    margin: 5%;
    position: relative;
    top: 40px;
}

.social-networks i {
    font-size: 160%;
    color: #3492eb ;
}

/* steps section*/

#steps {
    height: 600px;
    width: 100%;
    position: relative;
}

.upper-divs {
    font-size: 100%;
    font-family: 'lato', sans-serif;
    letter-spacing: 4px;

    width: 1400px;
    height: 100px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: white;
    margin-top: 50px;

    bottom: 30px;
    left: 30px;
    display: block;
    position: relative;
}

.lower-divs {
    font-size: 100%;
    font-family: 'lato', sans-serif;
    letter-spacing: 4px;

    width: 800px;
    height: 150px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: white;
    margin-bottom: 35px;

    bottom: 30px;
    left: 30px;
    display: block;
    position: relative;
}